{% extends 'base.html' %}
{% block title %}ثبت نام{% endblock %}

{% block content %}
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
        <!-- Order Details -->
                <div class="col-md-5 order-details" style="margin-left:29%;margin-top:180px;">
                    <div class="section-title text-center">
                        <h3 class="title">ثبت نام</h3>
                    </div>
                    <form method='post'>
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.username }}
                        </div>
                        <div class="form-group">
                            {{ form.first_name }}
                        </div>
                        <div class="form-group">
                            {{ form.last_name }}
                        </div>
                        <div class="form-group">
                            {{ form.password1 }}
                        </div>
                        <div class="form-group">
                            {{ form.password2 }}
                        </div>
                        <input type='submit' value="ثبت" class="primary-btn order-submit" style="padding:12px 46%">    
                    </form>
                </div>
                <!-- /Order Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
{% endblock %}