{% extends 'base.html' %}
{% block title %}ثبت نام{% endblock %}

{% block content %}
<br>
<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value="ثبت" class="btn btn-primary"><br>
            </form>
            </div>
        </div>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}