{% extends 'base.html' %}
{% block title %}{% block dtitle %}{% endblock dtitle %}{% endblock %}

{% block navigation %}
{% url 'account:update' request.user.username as update_user_url %}
{% url 'account:passwordchange' as passwordchange_url %}
{% url 'account:profile-update' request.user.username as profile_update_url %}
{% url 'account:companyprofile-create' request.user.username as companyprofile_create_url %}
{% url 'account:companyprofile-update' request.user.username as companyprofile_update_url %}
{% url 'item:create' as item_create_url %}
{% url 'item:myitem' as myitem_url %}
{% url 'account:profile-create' request.user.username as profile_create_url %}
{% url 'item:basket' request.user.username as basket_url %}
{% url 'item:address' as address_url %}
{% url 'item:address-create' as address_create_url %}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                {% if request.user.first_name %}
                    <li {% if request.path == update_user_url %}class="active"{% endif %}><a href="{{update_user_url}}">{{ request.user.first_name }}</a></li>
                {% else %}
                    <li {% if request.path == update_user_url %}class="active"{% endif %}><a href="{{update_user_url}}">{{ request.user }}</a></li>
                {% endif %}
                <li {% if request.path == passwordchange_url %}class="active"{% endif %}><a href="{{passwordchange_url}}">تغییر رمز عبور</a></li>
                {% if request.user.profile %}
                    <li {% if request.path == profile_update_url %}class="active"{% endif %}><a href="{{ profile_update_url }}">ویرایش پروفایل</a></li>
                    <li {% if request.path == companyprofile_create_url %}class="active"{% endif %}><a href="{{ companyprofile_create_url }}">ساخت حساب شرکتی</a></li>
                
                {% elif request.user.cprofile and request.user.cprofile.confirm == True %}
                    <li {% if request.path == companyprofile_update_url %}class="active"{% endif %}><a href="{{ companyprofile_update_url }}">ویرایش پروفایل</a></li>
                    <li {% if request.path == item_create_url %}class="active"{% endif %}><a href="{{ item_create_url }}">افزودن محصول</a></li>
                    <li {% if request.path == myitem_url %}class="active"{% endif %}><a href="{{ myitem_url }}">محصولات من</a></li>
                {% elif request.user.cprofile and request.user.cprofile.confirm == False %}
                    <li {% if request.path == companyprofile_update_url %}class="active"{% endif %}><a href="{{ companyprofile_update_url }}">ویرایش پروفایل</a></li>
                {% else %}
                    <li {% if request.path == profile_create_url %}class="active"{% endif %}><a href="{{ profile_create_url }}">تکمیل پروفایل</a></li>
                    <li {% if request.path == companyprofile_create_url %}class="active"{% endif %}><a href="{{ companyprofile_create_url }}">ساخت حساب شرکتی</a></li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li {% if request.path == profile_create_url %}class="active"{% endif %}><a href="{{ profile_create_url }}">ساخت پروفایل</a></li>
                    <li {% if request.path == companyprofile_create_url %}class="active"{% endif %}><a href="{{ companyprofile_create_url }}">ساخت حساب شرکتی</a></li>
                {% endif %}
                {% if request.user.customer.items.all %}
                    <li {% if request.path == basket_url %}class="active"{% endif %}><a href="{{ basket_url }}">سبد خرید</a></li>
                {% endif %}
                {% if request.user.address_user.all %}
                    <li {% if request.path == address_url %}class="active"{% endif %}><a href="{{ address_url }}">آدرس ها</a></li>
                {% endif %}
                <li {% if request.path == address_create_url %}class="active"{% endif %}><a href="{{ address_create_url }}">افزودن آدرس</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
{% endblock navigation %}

{% block content %}<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            {% block dcontent %}{% endblock dcontent %}
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                {% if request.user.profile.image %}
                <div class="section-title text-center">
                    <img src="{{ request.user.profile.image.url }}" height="425.5px" width="425.5px">
                </div>
                {% elif request.user.cprofile.image %}
                <div class="section-title text-center">
                    <img src="{{ request.user.cprofile.image.url }}" height="425.5px" width="425.5px">
                </div>
                {% endif %}
                
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>{{ request.user.username }}</strong></div>
                        <div><strong>شماره موبایل</strong></div>
                    </div>
                    <div class="order-col">
                        {% if request.user.email %}
                        <div><strong>{{ request.user.email }}</strong></div>
                        {% else %}
                        <div><strong>-</strong></div>
                        {% endif %}
                        <div><strong>ایمیل</strong></div>
                    </div>
                    <div class="order-products">
                        <div class="order-col">
                            {% if request.user.first_name %}
                            <div><strong>{{ request.user.first_name }}</strong></div>
                            {% else %}
                            <div><strong>-</strong></div>
                            {% endif %}
                            <div><strong>نام</strong></div>
                        </div>
                        <div class="order-col">
                            {% if request.user.last_name %}
                            <div><strong>{{ request.user.last_name }}</strong></div>
                            {% else %}
                            <div><strong>-</strong></div>
                            {% endif %}
                            <div><strong>نام خانوادگی</strong></div>
                        </div>
                    </div>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
</div>
{% endblock content %}