{% extends 'base.html' %}
{% block title %}{% block dtitle %}{% endblock dtitle %}{% endblock %}

{% block navigation %}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                {% if request.user.first_name %}
                    <li class="active"><a href="{% url 'account:dashboard' %}">{{ request.user.first_name }}</a></li>
                {% else %}
                    <li class="active"><a href="{% url 'account:dashboard' %}">{{ request.user }}</a></li>
                {% endif %}
                <li><a href="{% url 'account:passwordchange' %}">تغییر رمز عبور</a></li>
                {% if request.user.profile %}
                    <li><a href="{% url 'account:profile-update' request.user.username %}">ویرایش پروفایل</a></li>
                    <li><a href="{% url 'account:companyprofile-create' request.user.username %}">ساخت حساب شرکتی</a></li>
                {% elif request.user.cprofile and request.user.cprofile.confirm == True %}
                    <li><a href="{% url 'account:companyprofile-update' request.user.username %}">ویرایش پروفایل</a></li>
                    <li><a href="{% url 'item:create' %}">افزودن محصول</a></li>
                    <li><a href="{% url 'item:myitem' %}">محصولات من</a></li>
                {% elif request.user.cprofile and request.user.cprofile.confirm == False %}
                    <li><a href="{% url 'account:companyprofile-update' request.user.username %}">ویرایش پروفایل</a></li>
                {% else %}
                    <li><a href="{% url 'account:profile-create' request.user.username %}">تکمیل پروفایل</a></li>
                    <li><a href="{% url 'account:companyprofile-create' request.user.username %}">ساخت حساب شرکتی</a></li>
                {% endif %}
                {% if request.user.customer.items.all %}
                    <li><a href="{% url 'item:basket' request.user.username %}">سبد خرید</a></li>
                {% endif %}
                {% if request.user.address_user.all %}
                    <li><a href="{% url 'item:address' %}">آدرس ها</a></li>
                {% endif %}
                <li><a href="{% url 'item:address-create' %}">افزودن آدرس</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
{% endblock navigation %}

{% block content %}<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            {% block dcontent %}{% endblock dcontent %}
            <!-- Order Details -->
            <div class="col-md-5 order-details">
                {% if request.user.profile.image or request.user.cprofile.image %}
                <div class="section-title text-center">
                    <img src="{{ request.user.profile.image.url }}" height="425.5px" width="425.5px">
                </div>
                {% endif %}
                
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>{{ request.user.username }}</strong></div>
                        <div><strong>شماره موبایل</strong></div>
                    </div>
                    <div class="order-col">
                        {% if request.user.email %}
                        <div><strong>{{ request.user.email }}</strong></div>
                        {% else %}
                        <div><strong>-</strong></div>
                        {% endif %}
                        <div><strong>ایمیل</strong></div>
                    </div>
                    <div class="order-products">
                        <div class="order-col">
                            {% if request.user.first_name %}
                            <div><strong>{{ request.user.first_name }}</strong></div>
                            {% else %}
                            <div><strong>-</strong></div>
                            {% endif %}
                            <div><strong>نام</strong></div>
                        </div>
                        <div class="order-col">
                            {% if request.user.last_name %}
                            <div><strong>{{ request.user.last_name }}</strong></div>
                            {% else %}
                            <div><strong>-</strong></div>
                            {% endif %}
                            <div><strong>نام خانوادگی</strong></div>
                        </div>
                    </div>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
</div>
{% endblock content %}