{% extends 'dashboard.html' %}

{% block dtitle %}تغییر رمز عبور{% endblock dtitle %}

{% block dcontent %}
<div class="col-md-7">
    <!-- Billing Details -->
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">تغییر رمز عبور</h3>
        </div>
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.old_password }}
            </div>
            <div class="form-group">
                {{ form.new_password1 }}
            </div>
            <div class="form-group">
                {{ form.new_password2 }}
            </div>
            <input type='submit' value="ویرایش" class="primary-btn order-submit">    
        </form>
    </div>
    <!-- /Billing Details -->
</div>
<div class="col-5">
</div>
{% endblock %}