{% extends 'dashboard.html' %}

{% block dtitle %}آدرس های من{% endblock dtitle %}

{% block dcontent %}
<div class="col-md-7">
    <!-- Billing Details -->
    <div class="billing-details">
        <div class="section-title">
            <h3 class="title">آدرس ها</h3>
        </div>
        <form method='post' enctype="multipart/form-data">
            {% csrf_token %}
            {% for address in addresses %}
            <div class="form-group">
                <div class="input-checkbox">
                    <input class="input" style="width:15px;" type="radio" id="{{address.pk}}" name="fav-language" value="{{address.home_address}}" {% if address.this_address == True %}checked{% endif %}>
                    <label class="input" for="{{address.pk}}">
                        <span></span>
                        {{ address.home_address }}
                    </label>
                    {% comment %} <br><a href="{% url 'item:address-update' address.pk %}">ویرایش</a> {% endcomment %}
                </div>
                <a href="{% url 'item:address-update' address.pk %}">ویرایش</a>
            </div>
            {% endfor %}<br>
            <input type='submit' value="ثبت" name="choose" class="primary-btn order-submit" style="padding: 12px 313.4px">    
        </form>
    </div>
    <!-- /Billing Details -->
</div>
{% endblock %}
