{% load static %}
{% load item_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

        <!-- Google font -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

        <!-- Bootstrap -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

        <!-- Slick -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

        <!-- nouislider -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

        <!-- Font Awesome Icon -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <!-- Custom stlylesheet -->
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    </head>
    <body>
      <header>
        <!-- TOP HEADER -->
        <div id="top-header">
          <div class="container">
            <ul class="header-links pull-left">
              <li><a href="{% url 'item:list' %}"><i class="fa fa-home"></i>MasoudKazak</a></li>
              <li><a href="#"><i class="fa fa-phone"></i> +98-939-920-2913</a></li>
              <li><a href="#"><i class="fa fa-envelope-o"></i> kzmasut@gmail.com</a></li>
              <li><a href="#"><i class="fa fa-map-marker"></i>گلستان - تهران</a></li>
            </ul>
            <ul class="header-links pull-right">
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'account:dashboard' %}"><i class="fa fa-user-o"></i>
                  {% if request.user.first_name and request.user.last_name %}  
                  {{ request.user.first_name }} {{ request.user.last_name  }}
                  {% else %}
                    {{ request.user }}
                  {% endif %}
                </a></li>
                <li><a href="{% url 'account:logout' %}">خروج</a></li>
              {% else %}
                <li><a href="{% url 'account:login' %}"><i class="fa fa-user-o"></i>
                  ورود
                </a></li>
                <li><a href="{% url 'account:signin' %}">ثبت نام</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <!-- /TOP HEADER -->
  
        <!-- MAIN HEADER -->
        <div id="header">
          <!-- container -->
          <div class="container">
            <!-- row -->
            <div class="row">
              <!-- LOGO -->
              <div class="col-md-3">
                <div class="header-logo">
                  <a href="#" class="logo">
                    <img src="./img/logo.png" alt="">
                  </a>
                </div>
              </div>
              <!-- /LOGO -->
  
              <!-- SEARCH BAR -->
              <div class="col-md-6">
                <div class="header-search">
                    {% block category %}{% block search %}{% endblock search %}{% endblock category %}
                </div>
              </div>
              <!-- /SEARCH BAR -->
  
              <!-- ACCOUNT -->
              <div class="col-md-3 clearfix">
                <div class="header-ctn">
                  <!-- Wishlist -->
                  {% if request.user.is_authenticated %}
                    <div>
                      <a href="#">
                        <i class="fa fa-heart-o"></i>
                        <span>Your Wishlist</span>
                        <div class="qty">2</div>
                      </a>
                    </div>
                  {% endif %}
                  <!-- /Wishlist -->
                  {% block num_basket %}{% endblock num_basket %}
                  <!-- Menu Toogle -->
                  <div class="menu-toggle">
                    <a href="#">
                      <i class="fa fa-bars"></i>
                      <span>Menu</span>
                    </a>
                  </div>
                  <!-- /Menu Toogle -->
                </div>
              </div>
              <!-- /ACCOUNT -->
            </div>
            <!-- row -->
          </div>
          <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
      </header>
      <!-- /HEADER -->

      {% if messages %}
          {% for message in messages %}
          <div {% if message.tags == "info" %} class="alert alert-info alert-dismissible fade show" 
                {% elif message.tags == "error" %} class="alert alert-danger alert-dismissible fade show"
                {% elif message.tags == "success" %} class="alert alert-success alert-dismissible fade show"
                {% endif %} role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endfor %}
      {% endif %}
      {% block content %}{% endblock content %}<br><br>

      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <script src="{% static 'js/slick.min.js' %}"></script>
      <script src="{% static 'js/nouislider.min.js' %}"></script>
      <script src="{% static 'js/jquery.zoom.min.js' %}"></script>
      <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>