{% extends 'dashboard.html' %}

{% block dtitle %}سبد خرید{% endblock dtitle %}

{% block dcontent %}
<div class="col">
    <form method="POST">
        {% csrf_token %}
        {% for orderitem in order.items.all %}
        <div class="col">
          <table class="table table-striped">
            <tbody>
              <tr>
                <th scope="row"><a href="{% url 'item:detail' orderitem.item.pk %}"><img src="{{ orderitem.item.images.all.0.image.url }}" height="50px"></a></th>
                <td>{{ orderitem.item.name }}</td>
                <td>{{ orderitem.item.final_price }} تومان</td>
                <td>
                  <label for="{{ orderitem.id }}"></label>
                  <input class="form-control" type="number" id="{{ orderitem.id }}" name="{{ orderitem.id }}" min="1" value={{ orderitem.count }}>
                </td>
                <td>
                  <a href="#"><input type="submit" name="delete-{{ orderitem.id }}" value="حذف" class="btn btn-danger"></a><br>
                </td>
              </tr>
            </tbody>
          </table>
        {% endfor %}<br>
        <input type="submit" value="ثبت" class="btn btn-primary">
    </from><hr>
    <div class="card">
        <div class="card-header">
          قیمت پرداختی و آدرس ارسالی
        </div>
        <div class="card-body">
          <h5 class="card-title">آدرس</h5>
          <p class="card-text">{{ active_address.home_address }}</p>
          <a href="{% url 'item:addressupdate' active_address.pk %}" class="btn btn-primary">ویرایش آدرس</a>
          <a href="{% url 'item:address' %}" class="btn btn-primary">انتخاب آدرس دیگر</a><br><br>
          <h5 class="card-title">قیمت کل</h5>
          <h6 class="card-title">پرداخت : {{ order.get_price }} تومان</h6><br>
          <a href="#" class="btn btn-success">پرداخت</a><br><br>
        </div>
      </div><br>
</div>
{% endblock %}