{% extends 'base.html' %}
{% block title %}Basket{% endblock %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for orderitem in order.items.all %}
            <img src="{{ orderitem.item.images.url }}" width="25px" height="25px">
            {{ orderitem.item.name }} |
            {{ orderitem.item.price }} |
            <label for="{{ orderitem.id }}"></label>
            <input type="number" id="{{ orderitem.id }}" name="{{ orderitem.id }}" min="1" value={{ orderitem.count }}>
            <a href="#"><input type="submit" name="delete-{{ orderitem.id }}" value="Delete"></a><br><br>
        {% endfor %}
        total : {{ order.get_price }}<br><br>
        <input type="submit" value="Change">
    </from><hr>
    <h3>Your Address:</h3>
        {{ active_address.home_address }}<br>
        <a href="{% url 'item:addressupdate' active_address.pk %}">Edit</a><br>
        <a href="{% url 'item:address' %}">Choose another address</a>
{% endblock %}