{% if request.user.is_authenticated %}
    {% for basket in baskets %}
        <a href="{% url 'item:basket' basket.id %}">basket</a>
    {% endfor %}
    <a href="{% url 'account:logout' %}">Logout</a><br>
    <a href="{% url 'account:update' request.user.pk %}">Account</a>
    {% if request.user.profile %}
        <a href="{% url 'account:profileupdate' request.user.profile.pk %}">Profile</a>
    {% else %}
        <a href="{% url 'account:profilecreate' request.user.pk %}">Complete the profile</a>
    {% endif %}
{% else %}
    <a href="{% url 'account:login' %}">Login</a><br>
    <a href="{% url 'account:create' %}">Create Account</a>
{% endif %}
<hr>
{% for item in items %}
    {% if item.images %}
        <a href="{% url 'item:detail' item.pk %}"><img src="{{ item.images.url }}" height="200" width="200"></a><br>
    {% endif %}
    <h1>{{ item.name }}</h1>
    <h2>{{ item.price }}T</h2>
    <h3>{{ item.company }}</h3>
    <h4>{{ item.category }}</h4>
    <h5>{{ item.body }}</h5>
    <h6>{{ item.date }}</h6>
    <hr>
{% endfor %}