{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block category %}
<form method="post">
  <select class="input-select" onchange="location = this.value;">
    <option selected value="{% url 'item:list' %}">همه</option>
    {% for category in categories %}
      {% if category.items.all|length != 0 %}
        <option value="{% url 'item:itemscategory' category.name %}">{{ category.name }}</option>
      {% endif %}
    {% endfor %}
  </select>
  {% block search %}
  {% csrf_token %}
  {{ search_form }}
  <button class="search-btn" name="search">جستجو</button>
{% endblock %}
</form>
{% endblock %}

{% block num_basket %}
{% if request.user.is_authenticated %}
<!-- Cart -->
<div class="dropdown">

  <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" href="{% url 'item:basket' request.user.username %}">
    <i class="fa fa-shopping-cart"></i>
    <span>سبد خرید</span>
    <div class="qty">{{ num_basket }}</div>
  </a>
  <div class="cart-dropdown">
    <div class="cart-list">
      {% for orderitem in items_basket %}
      <div class="product-widget">
        <div class="product-img">
          <img src="{{ orderitem.item.images.all.0.image.url }}" alt="" height="60px" weight="60px">
        </div>
        <div class="product-body">
          <h3 class="product-name"><a href="{% url 'item:detail' orderitem.item.slug orderitem.item.pk %}">{{ orderitem.item.name }}</a></h3>
          <h4 class="product-price"><span class="qty">{{ orderitem.count }}x</span>{{ orderitem.item.final_price }}</h4>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="cart-summary">
      <small>{{ items_basket|length }} Item(s) selected</small>
      <h5>SUBTOTAL: {{ final_price }} تومان</h5>
    </div>
    {% if request.user.is_authenticated %}
    <div class="cart-btns">
      <a href="{% url 'item:basket' request.user.username %}">View Cart</a>
      <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
    </div>
    {% endif %}
  </div>
</div>
<!-- /Cart -->
{% endif %}
{% endblock %}

{% block content %}
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <!-- ASIDE -->
      <div id="aside" class="col-md-3">
        <!-- aside Widget -->
        <div class="aside">
          <h3 class="aside-title">Price</h3>
          <div class="price-filter">
            <div id="price-slider"></div>
            <div class="input-number price-min">
              <input id="price-min" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
            <span>-</span>
            <div class="input-number price-max">
              <input id="price-max" type="number">
              <span class="qty-up">+</span>
              <span class="qty-down">-</span>
            </div>
          </div>
        </div>
        <!-- /aside Widget -->
      </div>
      <!-- /ASIDE -->

      <!-- STORE -->
      <div id="store" class="col-md-9">
        <!-- store top filter -->
        <div class="store-filter clearfix">
          <div class="store-sort">
            <label>
              Sort By:
              <select class="input-select">
                <option value="0">Popular</option>
                <option value="1">Position</option>
              </select>
            </label>

            <label>
              Show:
              <select class="input-select">
                <option value="0">20</option>
                <option value="1">50</option>
              </select>
            </label>
          </div>
        </div>
        <!-- /store top filter -->

        <!-- store products -->
        <div class="row">
          <!-- product -->
          {% for item in items %}
          <div class="col-md-4 col-xs-6">
            <div class="product">
              <div class="product-img">
                <a href="{% url 'item:detail' item.slug item.pk %}"><img src="{{ item.images.all.0.image.url }}" alt="" width="262.5px" height="262.5px"></a>
                <div class="product-label">
                  {% if item.inventory != 0 %}
                    {% if item.discount %}
                      <span class="sale">-{{ item.int_discount }}</span>
                    {% endif %}
                  {% endif %}
                  {% if forloop.counter0 == 0 or forloop.counter0 == 1 or forloop.counter0 == 2 %}
                  <span class="new">NEW</span>
                  {% endif %}
                </div>
              </div>
              <div class="product-body">
                <p class="product-category">{{ item.category }}</p>
                <h3 class="product-name"><a href="{% url 'item:detail' item.slug item.pk %}">{{ item.name }}</a></h3>
                {% if item.inventory == 0 %}
                  <h4 class="product-price">تمام</h4>
                  <h4 class="product-price">شد</h4>
                {% else %}
                  {% if item.discount %}
                    <h4 class="product-price">{{ item.final_price }} <del class="product-old-price">{{ item.price_without_discount }}</del></h4>
                    <h4 class="product-price">تومان</h4>
                   {% else %}
                    <h4 class="product-price">{{ item.final_price }}</h4>
                    <h4 class="product-price">تومان</h4>
                  {% endif %}
                {% endif %}
                <div class="product-rating">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                {% if request.user.is_authenticated %}
								  {% if is_there_watchlist %}
                  <form method="post">
                    <div class="product-btns">
                      <button class="add-to-wishlist" name="{{ item }}del"><i class="fa fa-heart-o"></i><span class="tooltipp">حذف از علاقه مندی ها</span></button>
                    </div>
                  </form>
                  {% else %}
                  <form method="post">
                    <div class="product-btns">
                      <button class="add-to-wishlist" name="{{ item }}add"><i class="fa fa-heart-o"></i><span class="tooltipp">افزودن به علاقه مندی ها</span></button>
                    </div>
                  </form>
                  {% endif %}
                {% else %}
                  <a href="{% url 'account:login' %}" class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp"></span></a>
                {% endif %}
              </div>
              {% if item.inventory != 0 %}
              <div class="add-to-cart">
                <form method="post">
                  {% csrf_token %}
                <button class="add-to-cart-btn" name="{{ item }}"><i class="fa fa-shopping-cart"></i> افزودن به سبد</button>
              </form>
              </div>
              {% endif %}
            </div>
          </div>
          {% endfor %}
          <!-- /product -->
          <!-- store bottom filter -->
						<div class="store-filter clearfix">
							<ul class="store-pagination">
                {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                {% endif %}
                {% for n in page_obj.paginator.page_range %}
                  {% if page_obj.number == n %}
                    <li class="active">{{ n }}</li>
                  {% else %}
                    <li><a href="?page={{ n }}">{{ n }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
								  <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                {% endif %}
              </ul>
						</div>
						<!-- /store bottom filter -->
					</div>
					<!-- /STORE -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}