{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<br><div class="row row-cols-1 row-cols-md-4 g-4">
    {% for item in items %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'item:detail' item.pk %}" class="stretched-link"><img src="{{ item.images.all.0.image.url }}" class="card-img-top"></a>
          <h4>{{ item.name }}</h4>
          <h6>{{ item.category }}</h6>
          <p>{{ item.body|safe }}</p>
        <div class="card-footer">
          {% if item.inventory == 0 %}
          <h5 class="text-muted">نا موجود</h5>
          {% else %}
            {% if item.discount %}
                <h5 style="color:red;">{{ item.int_discount }}%</h5>      
            {% endif %}
          <h5>{{ item.final_price }} تومان</h5>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div><br>
<nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% for n in page_obj.paginator.page_range %}
        <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
      {% endfor %}

      {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      {% endif %}
    </ul>
  </nav>
{% endblock content %}