{% extends 'base.html' %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<br>
{% if request.user.is_authenticated and request.user == item.company or request.user.is_superuser %}
<ul class="nav nav-pills">
    <li class="nav-item">
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="ناموجود" name="empty" class="btn btn-secondary">
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'item:update' item.pk %}">ویرایش</a>
    </li>
    {% if request.user.is_superuser %}
    <li class="nav-item">
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="حذف محصول" name="deleteitem" class="btn btn-danger">
        </form>
    </li>
    {% endif %}
</ul>
{% endif %}<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100" style="border-width:0">
            <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                
                {% for image in item.images.all %}
                    {% if forloop.counter0 == 0 %}
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>    
                    {% else %}
                        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}"></button>
                    {% endif %}
                {% endfor %}
                </div>
                <div class="carousel-inner">
                {% for image in item.images.all %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                            <img src="{{ image.image.url }}" class="d-block w-100">
                        </div>
                    {% else %}
                        <div class="carousel-item">
                            <img src="{{ image.image.url }}" class="d-block w-100">
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">قبلی</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">بعدی</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="border-width:0">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-category">{{ item.category }}</h6>
                <p class="card-text">{{ item.body|safe }}</p>
              </div>
            {% if item.inventory == 0 %}
                <h1>ناموجود</h1><br>
            {% else %}
                {% if item.discount %}
                    <h1 style="color:red;">{{ item.int_discount }}%</h1>      
                {% endif %}
                <h2>{{ item.final_price }} تومان</h2>
            <p>موحودی: {{ item.inventory }}<p><br>
            {% endif %}
            {% for color in item.color.all %}
                <h2>{{ color }}</h2>
            {% endfor %}
        </div>
    </div>
    <div class="col">
        <div class="card h-100" style="border-width:0">

        </div>
    </div>
</div>
<p>
    {{ item.body|safe }}
</p>
<small class="text-muted">
    {% for tag in item.tags.all %}
       {{ tag }}#
    {% endfor %}
</small>
<hr>
{% for comment in item.comments.all %}
    {{ comment.user }}<br>
    {{ comment.date|date:"Y-m-d / H:i" }}<br>
    {{ comment.text|safe }}<br><hr>
{% empty %}
    <p>هيچ ديدگاهي وجود ندارد</p>
{% endfor %}

{% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.media }}
        {{ comment_form.as_p }}
        <input type="submit" value="كامنت" name="comment" class="btn btn-primary">
    </form>
{% else %}
    برای افزودن دیدگاه ابتدا <a href="{% url 'account:login' %}">وارد</a> شوید.
{% endif %}
<hr>

{% if request.user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ orderitem_form.as_p }}
    <input type="submit" value="افزودن به سبد" name="orderitem" class="btn btn-success">
</form><br>
{% else %}
<form method="post">
    {% csrf_token %}
    <a href="{% url 'account:login' %}"><button type="button" class="btn btn-success">افزودن به سبد</button></a>
</form><br>
{% endif %}
{% endblock %}