{% extends 'base.html' %}
{% block title %}{{ item.name }}{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if request.user.is_authenticated and  request.user == item.company %}
    <form method="post">
        {% csrf_token %}
        <input type="submit" value="Delete" name="deleteitem">
    </form>
{% endif %}
{% if item.images %}
    {% for image in item.images.all %}
        <img src="{{ image.image.url }}" width="250">
    {% endfor %}
{% endif %}
<h2>{{ item.name }}</h2><br>
<h6>{{ item.date }}</h6><br>
<h3>{{ item.company }}</h3>
{% if item.inventory == 0 %}
    <h1>ناموجود</h1><br>
{% else %}
    {% if item.discount %}
        <h1 style="color:red;">{{ item.discount }}%</h1>      
    {% endif %}
    <h2>{{ item.final_price }}</h2>
<p>موحودی: {{ item.inventory }}<p><br>
{% endif %}
{% for color in item.color.all %}
    <h2>{{ color }}</h2>
{% endfor %}
<p>{{ item.body }}</p>
<hr>

{% for comment in item.comments.all %}
    {{ comment.user }}<br>
    {{ comment.date }}<br>
    {{ comment.text }}<br><hr>
{% empty %}
    <p>No comment</p>
{% endfor %}

{% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="comment" name="comment">
    </form>
{% else %}
    <a href="{% url 'account:login' %}">Login</a>
    <a href="{% url 'account:create' %}">SignUp</a>
{% endif %}
<hr>

{% if request.user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ orderitem_form.as_p }}
    <input type="submit" value="Add" name="orderitem">
</form>
{% else %}
<form method="post">
    {% csrf_token %}
    <a href="{% url 'account:login' %}"><button type="button">Add</button></a>
</form>
{% endif %}
{% endblock %}