{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}{% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
{{ item.name }}
<hr>
{% for comment in item.comments.all %}
    {{ comment.user }}<br>
    {{ comment.date }}<br>
    {{ comment.text }}<br><hr>
{% empty %}
    <p>No comment</p>
{% endfor %}
{% if request.user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <input type="submit" value="comment" name="comment">
    </form>
{% else %}
    <a href="{% url 'account:login' %}">Login</a>
    <a href="{% url 'account:create' %}">SignUp</a>
{% endif %}
<hr>
{% if request.user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    {{ orderitem_form.as_p }}
    <input type="submit" value="Add" name="orderitem">
</form>
{% else %}
<form method="post">
    {% csrf_token %}
    <a href="{% url 'account:login' %}"><button type="button">Add</button></a>
</form>
{% endif %}