{% extends 'base.html' %}

{% block title %}{{ category }}{% endblock title %}

{% block content %}
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for item in category.items.all %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'item:detail' item.slug item.pk %}" class="stretched-link"><img src="{{ item.images.all.0.image.url }}" class="card-img-top" width="250" height="250"></a>
          <h5>{{ item.name }}</h5>
          <h6>{{ item.category }}</h6>
        <div class="card-footer">
          <div class="price">
            {% if item.inventory == 0 %}
            <h5 class="text-muted" style="text-align:center;">نا موجود</h5>
            {% else %}
              {% if item.discount %}
                  <h5 style="color:green;"><s style="color:red;">{{ item.price_without_discount }}</s> {{ item.final_price }} تومان</h5>
              {% else %}
                <h5>{{ item.final_price }} تومان</h5>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}