{% extends 'dashboard.html' %}

{% block dtitle %}محصولات من{% endblock dtitle %}

{% block dcontent %}
<div class="col">
<br><div class="row row-cols-1 row-cols-md-3 g-4">
    {% for item in items %}
    <div class="col">
      <div class="card h-100">
        <a href="{% url 'item:update' item.slug item.pk %}" class="stretched-link"><img src="{{ item.images.all.0.image.url }}" class="card-img-top"></a>
          <h5>{{ item.name }}</h5>
          {% if item.status == "p" %}
          <h6>منشتر شده</h6>
          {% else %}
          <h6>پیش نویس</h6>
          {% endif %}
        <div class="card-footer">
          {% if item.inventory == 0 %}
          <h5 class="text-muted">نا موجود</h5>
          {% else %}
            {% if item.discount %}
                <h5 style="color:red;">{{ item.int_discount }}%</h5>      
            {% endif %}
          <h5>{{ item.final_price }} تومان</h5>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div><br><br>
</div>
{% endblock %}