{% extends 'dashboard.html' %}

{% block dtitle %}محصولات من{% endblock dtitle %}

{% block dcontent %}
<div class="col-md-7">
    <!-- product -->
    {% for item in items %}
    <div class="col-md-6 col-xs-6">
      <div class="product">
        <div class="product-img">
          <a href="{% url 'item:update' item.slug item.pk %}"><img src="{{ item.images.all.0.image.url }}" alt="" width="262.5px" height="262.5px"></a>
          <div class="product-label">
            {% if item.inventory != 0 %}
              {% if item.discount %}
                <span class="sale">-{{ item.int_discount }}</span>
              {% endif %}
            {% endif %}
            {% if item.status == "p" %}
            <span class="new" style="background-color:green;border-color:green;">منتشر شده</span>
            {% else %}
            <span class="new">پیش نویس</span>
            {% endif %}
          </div>
        </div>
        <div class="product-body">
          <p class="product-category">{{ item.category }}</p>
          <h3 class="product-name"><a href="{% url 'item:update' item.slug item.pk %}">{{ item.name }}</a></h3>
          {% if item.inventory == 0 %}
            <h4 class="product-price">تمام</h4>
            <h4 class="product-price">شد</h4>
          {% else %}
            {% if item.discount %}
              <h4 class="product-price">{{ item.final_price }} <del class="product-old-price">{{ item.price_without_discount }}</del></h4>
              <h4 class="product-price">تومان</h4>
             {% else %}
              <h4 class="product-price">{{ item.final_price }}</h4>
              <h4 class="product-price">تومان</h4>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
    <!-- /product -->
</div>
{% endblock %}