.dot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    border: 1px;
    border-style: solid;
  }

#buy-card {
  width: 100%;
}

#namujud {
  text-align: center;
}

.card {
  margin-right: auto;
}

#id_count {
  width: 25%;
}